MYSQL_HOSTNAME=mariadb
MYSQL_DATABASE=wordpress
MYSQL_USER=kkaiyawo

WP_SITE_URL=kkaiyawo.42.fr
WP_SITE_TITLE=kkaiyawo's Inception

WP_ADMIN_USER=kkaiyawo
WP_ADMIN_EMAIL=kkaiyawo@42.fr
WP_TEST_USER=user
WP_TEST_EMAIL=user@gmail.com
